{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block extra_header %}
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h2><a href="{% url 'blog_entry' post.created_on.year post.created_on.month post.created_on.day post.slug %}">{{ post.title }}</a></h2>
<i> Created on {{ post.created_on }}</i><br/>
{{ post.content|safe }}

{% if post.comment_set.all %}
<br/><br/>
<hr/>
<h4>Comments</h4>
<div class="comments">
    {% for comment in post.comment_set.all %}
        <span>
            <a href="{{ comment.website }}">{{ comment.name }}</a> said on {{ comment.created_on }}
        </span>
        <p>
            {{ comment.text|linebreaks }}
        </p>
    {% endfor %}
</div>
{% endif %}
<br/><br/>
<h4>Add Comment</h4>

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" name="submit" value="Submit" />
</form>
{% endblock %}
